
.left{
    width: 682px;
}
.header{
    display: flex;
    flex-direction: row;
    overflow-wrap: anywhere;
}

.title{
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    font-family: 'InterUI', Arial, sans-serif;
    font-weight: normal;
}
.title:hover{
    text-decoration-line: underline;
}
.likes{
    margin-left: 13px;
    height: 28px;
    border: none;
    padding: 0;
    background-color: white;
    outline: none;
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px 15px;
    font-size: 12px;
    vertical-align: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4px;
    font-family: 'InterUI', Arial, sans-serif;
    font-weight: normal;
}

.likes-ok{
    background-image: url("images/red_heart.svg");
}
.likes-off{
    background-image: url("images/white_heart.svg");
}
.description{
    width: 682px;
    height: 45px;
    font-size: 12px;
    line-height: 22px;
    overflow-wrap: anywhere;
}

.author{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.param{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;
    font-family: 'InterUI', Arial, sans-serif;
    font-weight: normal;
}
.name{
    font-size: 18px;
    line-height: 28px;
    color: #000000D9;
}
.date{
    font-size: 12px;
    line-height: 22px;
    color: #00000080;
}
.avatar{
    width: 46px;
    height: 46px;
}
.avatar img{
    width: 46px;
    height: 46px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn{
    height: 31px;
    font-size: 14px;
    line-height: 22px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.btn-create{
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
    padding: 6px 19px;
}
.btn-create:hover{
    color: #FFFFFF;
    background-color: #52C41A;
}
.btn-delete{
    color: #F5222D;
    border: 1px solid #F5222D;
    border-radius: 5px;
    padding: 6px 17px;
    margin-right: 12px;
}
.btn-delete:hover{
    color: #FFFFFF;
    background-color: #F5222D;
}