.list{
    width: 938px;
    margin: 0 auto;
    background-color: #EBEEF3;
    padding: 0;
}
.pagination{
    margin: 24px auto;
    text-align: center;
}
.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 26px;
    box-shadow: 0px 4px 12px 0px  #00000026;
    background-color: #FFFFFF;
}
.spin{
    margin-left: 50%;
}